        <!-- Script Google Maps -->
        <script async defer src="https://maps.google.com/maps/api/js?key=AIzaSyAnyC-NxbOqnz__dBAXvsgO4azJoB3o94I&callback=initialize"></script>

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- JS Bootstrap -->
         <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/bootstrap-theme.min.css') }}">

        <script type="application/javascript" src="{{ url_for('static',filename='bootstrap/bootstrap.min.js') }}"></script>

        <!-- JS App -->
        <script type="application/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
    </body>
</html>