    <!-- SIDEBAR LATERAL -->
        <div id="wrapper" style="margin-top: 50px">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    <li>
                        <!-- MODIFICAR Y CARGAR DESDE EL SERVIDOR-->
                        <img id="image-sidebar" src="../images/cabana1.jpg" alt="">
                    </li>
                    <li>
                        <a href="property.html?id=1"><button type="button" class="btn btn-lg btn-view-more">View More</button></a>
                    </li>
                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Description</a>
                        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                            <p class="texto-il">Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion. Aquí va la descripcion.</p>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> a</a>
                        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                            <p class="texto-il">>AHSKJAHSJK KAJHS AKJHAKJSH KJA KJA KAJ SKJ AHKJS AKJ SKJA KJ SA JKSH</p>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Address</a>
                        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                            <p class="texto-il">>AHSKJAHSJK KAJHS AKJHAKJSH KJA KJA KAJ SKJ AHKJS AKJ SKJA KJ SA JKSH</p>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Contact</a>
                        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                            <p class="texto-il">>AHSKJAHSJK KAJHS AKJHAKJSH KJA KJA KAJ SKJ AHKJS AKJ SKJA KJ SA JKSH</p>
                        </ul>
                    </li>
                </ul>
            </div><!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid xyz">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- MAIN -->
                            <div id="map_main">

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /#page-content-wrapper -->
        </div><!-- /#wrapper -->
        <!-- END SIDEBAR LATERAL -->