
<!DOCTYPE html>
<html lang="es-CL">
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/bootstrap.min.css') }}">

    
        <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
        
    </head>
    <body>

        
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="home.html">Arrenda2</a>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li></li>
                        <p class="navbar-text">Hola ,</p>
                        <li> <a href="#" >{{ user[0]['nombre'] }}</a></li>
                        <li><a href="/logout" >Salir</a> </li>
                    </ul>
                    
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav><!-- END NAVBAR -->


    {%- include "body.html" -%}
    {%- include "_scripts.html" -%}
